.root{
    text-align: center;
    margin-top: 40px;
}

.root li{
    display: inline-flex;
    justify-content: center;
    line-height: 32px;
    width: 32px;
    height: 32px;
    margin: 0 10px 10px 0;
    border: 1px solid var(--grey200-border-color);
    background-color: #FFFFFF;
    color: var(--black-text-color);
    cursor: pointer;
}

.root li:hover{
    background-color: var(--blue500-main-color);
    color: #FFFFFF;
}

.activeLink{
   background-color: var(--blue500-main-color);
   color: #FFFFFF;
}

.root a{
    display: inline-block;
    width: 100%;
}