.root {
    border: 10px solid var(--grey-bg-color);
    border-top: 10px solid var(--blue500-main-color);
    border-bottom: 10px solid var(--blue500-main-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin: auto;
    right: 0; left: 0; top: 0; bottom: 0;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }