.root{
    background-color: #FFFFFF;
    width: 315px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--grey200-border-color);
    margin: 0 auto;
}

.root > div, .root > button{
    margin-top: 20px;
}

.root div:first-child{
    margin-top: 0px;
}

.title{
    display: flex;
    justify-content: space-between;
}

.title h1{
    font-size: 20px;
    font-weight: 700;
    color: var(--black-text-color);
}

.title div{
    font-size: 14px;
    line-height: 20px;
    color: var(--grey-text-color);
    cursor: pointer;
    position: relative;
    padding-right: 15px;
}

.title div::before, .title div::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 1.25px;
    background: var(--grey-text-color);
    top: 50%;
    right: 0;
}

.title div::before{
    transform: rotate(45deg);
}

.title div::after{
    transform: rotate(-45deg);
}

.root h2{
    font-size: 16px;
    font-weight: 700;
}

.root input, select{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
}

.root button{
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    padding: 10px;
    color: #FFFFFF;
    background-color: var(--blue500-main-color);
}

.root h1, h2{
    color: var(--black-text-color);
}

.root input, .root select, .root button{
    border-radius: 8px;
}

.root input, select, button{
    border-radius: 8px;
}

.root input, .root select{
    border: 1px solid var(--grey300-border-color);
}