.wrapper{
    margin: 40px 0;
    display: flex;
    gap: 30px;
}

.body{
    width: 100%;
    position: relative;
    /* display: none; */
}

.filtration{
    
}

.vacancyList{
    min-height: 40vh;
}

.vacancyListEnterDone{
    opacity: 0;
    height: 40vh;
}

.vacancyListExitDone{
    opacity: 1;
}