.wrapper{
    margin: 40px 0;
    display: flex;
    gap: 30px;
}

.body{
    width: 100%;
    position: relative;
}

.filtration{
    min-width: 300px;
}

.vacancyList{
    min-height: 40vh;
}

.vacancyListEnterDone{
    opacity: 0;
    height: 40vh;
}

.vacancyListExitDone{
    opacity: 1;
}


@media screen and (max-width: 767px){

    .wrapper{
        display: block;
    }
    
    .filtration{
        margin: 0 auto 20px auto;
        width: 100%;
    }
}