.wrapper{
    margin: 40px 0;
    display: flex;
    gap: 30px;
}

.body{
    width: 100%;
    position: relative;
}

.filtration{
    min-width: 300px;
}

.filterBtn{
    display: none;
}

.vacancyList{
    min-height: 40vh;
}

.vacancyListEnterDone{
    opacity: 0;
    height: 40vh;
}

.vacancyListExitDone{
    opacity: 1;
}


@media screen and (max-width: 767px){

    .wrapper{
        display: block;
    }

    .filtrationWrapper{
        margin: 0 auto 20px auto;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.329);
        z-index: 2;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        display: none;
        transition: .3s;
    }

    .showFilterOverlay{
        display: block;
    }
    
    .filtration{
        min-width: auto;
        max-width: 320px;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);        
    }

    .filterBtn{
        margin-top: 15px;
        margin-left: 5px;
        color: var(--grey-text-color);
        font-size: 16px;
        display: inline-block;
    }

    
}