.root{
    background-color: #ffffff;
    border: 1px solid var(--grey200-border-color);
    border-radius: 12px;
    margin-top: 20px;
    padding: 25px;
}

.title{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.simpleTitle{
    color: var(--black-text-color);
    font-size: 28px;
    font-weight: 700;
}

.linkTitle{
    color: var(--blue500-main-color);
    font-size: 20px;
    font-weight: 600;
}

.title button{
    background-color: var(--blue500-main-color);
   
}

.root a{
    color: var(--blue500-main-color);
    text-decoration: none;
}

.root a:hover{
    color: var(--blue600-text-color);
    text-decoration:underline    ;
}

.info{
    display: flex;
    font-size: 16px;
    flex-wrap: wrap;
    line-height: 1.5;
}

.simpleInfo{
    font-size: 20px;
    margin-top: 16px;
}

.linkInfo{
    font-size: 16px;
    margin-top: 13px;
}

.simplePayment{
    font-weight: 700;
}

.linkPayment{
    font-weight: 600;
}

.info span{
    margin: 0 12px;
    color: var(--grey500-text-color);
    font-weight: 700;
}

.location{
    display: flex;
    gap: 10px;
}

.simpleLocation{
    margin-top: 16px;
}

.linkLocation{
    margin-top: 13px;
}

.starButton{
    color: var(--blue500-main-color);
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    height: 0;
}

.starButton svg{
    padding: 5px;
}