.wrapper{
  opacity: 0;
  transition: 1s;
}

.wrapperEnterDone{
  opacity: 1;
}

.content{
  margin-top: 110px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

:root {
  --grey-bg-color: #f1f1f1;
  --black-text-color: #232134;
  --grey-text-color: #ACADB9;
  --grey500-text-color: #343A40;
  --blue500-main-color: #5E96FC;
  --blue100-bg-color: #DEECFF;
  --blue600-text-color: #3B7CD3;
  --grey200-border-color: #EAEBED;
  --grey300-border-color: #D5D6DC;
}

input::-moz-placeholder { color: var(--grey-text-color) }
input::-webkit-input-placeholder { color: var(--grey-text-color) }

input[type=search], input[type=text]{
  appearance: none;
  -webkit-appearance: none;
}


@media screen and (max-width: 767px){
  .scrollLock{
    overflow: hidden;
  }
}